body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $Eggshell;
}
.bold {
    font-weight: bold;
}

.recipe {
    background-color: $White;
    border-radius: 1.5rem;
    width: 46rem;
    padding: 2.2rem;
    //   RECIPE INFO
    &__info-image {
        border-radius: 1rem;
        width: 100%;
    }
    &__info-title {
        font-family: $FontFamily-2;
        margin-top: 1.5rem;
        font-size: 2.5rem;
        font-weight: lighter;
    }
    &__info-paragraph {
        font-family: $FontFamily-1;
        margin: 1rem 1rem 0 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $WengeBrown;
       
    }
    // RECIPE PREPARATION
    &__preparation {
        margin-top: 2.5rem;
        padding:  1rem;
        font-family: $FontFamily-1;
        background-color: $RoseWhite;
        border-radius: 0.5rem;
    }
    &__preparation-title {
        margin-left: 1.5rem;
        color: $DarkRaspberry;
        font-size: 1.25rem;
        font-weight: 600;
        word-spacing: 0.1rem;
    }
    &__preparation-list {
        color: $WengeBrown;
        margin-top: .8rem;
        margin-left: 4.2rem;
        font-size: 1rem;
        line-height: 1.8rem;
    }
    // RECIPE INGREDIENTS
    &__ingredients-title {
        font-family: $FontFamily-2;
        font-size: 1.8rem;
        color: $Nutmeg;
        margin: 2.5rem 0 1rem 0;
    }
    &__ingredients-list {
        margin: 0 0 1rem 3rem ;
        font-family: $FontFamily-1;
        font-size: 1rem;
        line-height: 2rem;
        color: $DarkCharcoal;
     
    }
    &__ingredients-item {
        padding-left: 0.5rem;
    }

    // RECIPE INSTRUCTIONS
    &__instructions-title {
        font-family: $FontFamily-2;
        font-size: 1.8rem;
        color: $Nutmeg;
        margin: 1.4rem 0 1rem 0;
    }
    &__instructions-list {
        margin-left: 3.5rem;
        margin-bottom: 1rem;
        font-family: $FontFamily-1;
        font-size: 1rem;
        font-weight: 100;
        line-height: 1.6rem;
        width: 90%;
        color: $DarkCharcoal;
    }
    &__instructions-item{
       margin-bottom: .3rem;
    }

    // RECIPE NUTRITION
    &__nutrition-title {
        font-family: $FontFamily-2;
        font-size: 1.8rem;
        color: $Nutmeg;
        margin: 1.5rem 0 1.3rem 0;
    }
    &__nutrition-paragraph {
        font-family: $FontFamily-1;
        margin: 0.5rem 0 1rem 0; 
        font-size: 1rem;
    }
    &__nutrition-table {
        font-family: $FontFamily-1;
        font-size: 1rem;
        line-height: 2.3rem;
        margin: -1rem auto 1rem auto;
        border-collapse: collapse;
        width: 90%;
    }
    &__item{
        &--title{
            padding-top: 1rem;
        }
    }
    td {
        border-bottom: 1px solid rgba(157, 132, 132, 0.803);
    }
    th{
        color: $Nutmeg;
        border-bottom: 1px solid rgba(157, 132, 132, 0.803);
        text-align: left;
    }
    .line{
        margin-top: 1.8rem;
        width: 90%;
    }
    .line2{
        margin-top: 1.8rem;
    }
}
