* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(30, 54%, 90%);
}

.bold {
  font-weight: bold;
}

.recipe {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.5rem;
  width: 46rem;
  padding: 2.2rem;
}
.recipe__info-image {
  border-radius: 1rem;
  width: 100%;
}
.recipe__info-title {
  font-family: "Young Serif", serif;
  margin-top: 1.5rem;
  font-size: 2.5rem;
  font-weight: lighter;
}
.recipe__info-paragraph {
  font-family: "Outfit", sans-serif;
  margin: 1rem 1rem 0 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(30, 10%, 34%);
}
.recipe__preparation {
  margin-top: 2.5rem;
  padding: 1rem;
  font-family: "Outfit", sans-serif;
  background-color: hsl(330, 100%, 98%);
  border-radius: 0.5rem;
}
.recipe__preparation-title {
  margin-left: 1.5rem;
  color: hsl(332, 51%, 32%);
  font-size: 1.25rem;
  font-weight: 600;
  word-spacing: 0.1rem;
}
.recipe__preparation-list {
  color: hsl(30, 10%, 34%);
  margin-top: 0.8rem;
  margin-left: 4.2rem;
  font-size: 1rem;
  line-height: 1.8rem;
}
.recipe__ingredients-title {
  font-family: "Young Serif", serif;
  font-size: 1.8rem;
  color: hsl(14, 45%, 36%);
  margin: 2.5rem 0 1rem 0;
}
.recipe__ingredients-list {
  margin: 0 0 1rem 3rem;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  color: hsl(24, 5%, 18%);
}
.recipe__ingredients-item {
  padding-left: 0.5rem;
}
.recipe__instructions-title {
  font-family: "Young Serif", serif;
  font-size: 1.8rem;
  color: hsl(14, 45%, 36%);
  margin: 1.4rem 0 1rem 0;
}
.recipe__instructions-list {
  margin-left: 3.5rem;
  margin-bottom: 1rem;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6rem;
  width: 90%;
  color: hsl(24, 5%, 18%);
}
.recipe__instructions-item {
  margin-bottom: 0.3rem;
}
.recipe__nutrition-title {
  font-family: "Young Serif", serif;
  font-size: 1.8rem;
  color: hsl(14, 45%, 36%);
  margin: 1.5rem 0 1.3rem 0;
}
.recipe__nutrition-paragraph {
  font-family: "Outfit", sans-serif;
  margin: 0.5rem 0 1rem 0;
  font-size: 1rem;
}
.recipe__nutrition-table {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  line-height: 2.3rem;
  margin: -1rem auto 1rem auto;
  border-collapse: collapse;
  width: 90%;
}
.recipe__item--title {
  padding-top: 1rem;
}
.recipe td {
  border-bottom: 1px solid rgba(157, 132, 132, 0.803);
}
.recipe th {
  color: hsl(14, 45%, 36%);
  border-bottom: 1px solid rgba(157, 132, 132, 0.803);
  text-align: left;
}
.recipe .line {
  margin-top: 1.8rem;
  width: 90%;
}
.recipe .line2 {
  margin-top: 1.8rem;
}

@media only screen and (max-width: 376px) {
  body {
    align-items: flex-start;
  }
  .recipe {
    padding: 0;
    margin-top: 0;
  }
  .recipe__info-image {
    width: 100%;
    border-radius: 0;
  }
  .recipe__info-title {
    font-family: "Young Serif", serif;
    font-size: 2.2rem;
    margin-top: 2.3rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    line-height: 2.3rem;
  }
  .recipe__info-paragraph {
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 1.8rem 1rem 1.5rem;
  }
  .recipe__preparation {
    margin: 0.5rem 2rem 2rem 2.5rem;
  }
  .recipe__preparation-title {
    font-size: 1.2rem;
  }
  .recipe__preparation-list {
    margin-top: 0.7rem;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .recipe__ingredients-title {
    font-size: 1.7rem;
    margin-top: 2.5rem;
    margin-left: 1.7rem;
  }
  .recipe__ingredients-list {
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 1.8rem;
    font-size: 1rem;
    line-height: 2rem;
  }
  .recipe__instructions-title {
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-left: 1.7rem;
  }
  .recipe__instructions-list {
    margin-top: 1rem;
    margin-left: 4rem;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 4rem 0 0;
  }
  .recipe__nutrition-title {
    font-size: 1.7rem;
    margin-top: 4rem;
    margin-left: 1.7rem;
  }
  .recipe__nutrition-paragraph {
    font-family: "Outfit", sans-serif;
    margin-top: 0.4rem;
    padding: 0 2rem;
    font-size: 1rem;
    line-height: 2rem;
  }
  .recipe__nutrition-table {
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    line-height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=main.css.map */